<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


  <bean id="daoConsommation"
		class="com.gestionhotel.gestionhotel.dao.consommation.DaoConsommationImplement"></bean>
	<bean id="serviceConsommation"
		class="com.gestionhotel.gestionhotel.metier.consommation.MetierConsommationImplement">
		<property name="dao" ref="daoConsommation"></property>
	</bean> 


	<bean id="daoFactures"
		class="com.gestionhotel.gestionhotel.dao.factures.DaoFacturesImplement"></bean>
	<bean id="serviceFacture"
		class="com.gestionhotel.gestionhotel.metier.factures.MetierFacturesImplement">
		<property name="dao" ref="daoFactures"></property>
	</bean> 
	
	<bean id="daoHotel"
		class="com.gestionhotel.gestionhotel.dao.hotel.DaoHotelImplement"></bean>
	<bean id="serviceHotel"
		class="com.gestionhotel.gestionhotel.metier.hotel.MetierHotelImplement">
		<property name="dao" ref="daoHotel"></property>
	</bean>
	
	<bean id="daoPaiement"
		class="com.gestionhotel.gestionhotel.dao.paiement.DaoPaiementImplement"></bean>
	<bean id="servicePaiement"
		class="com.gestionhotel.gestionhotel.metier.paiement.MetierPaiementImplement">
		<property name="dao" ref="daoPaiement"></property>
	</bean>
	
	<bean id="daoPersonnes"
		class="com.gestionhotel.gestionhotel.dao.personnes.DaoPersonnesImplement"></bean>
	<bean id="servicePersonnes"
		class="com.gestionhotel.gestionhotel.metier.personnes.MetierPersonnesImplement">
		<property name="dao" ref="daoPersonnes"></property>
	</bean>
	
	<bean id="daoProduit"
		class="com.gestionhotel.gestionhotel.dao.produit.DaoProduitsImplement"></bean>
	<bean id="serviceProduit"
		class="com.gestionhotel.gestionhotel.metier.produit.MetierProduitsImplement">
		<property name="dao" ref="daoProduit"></property>
	</bean> 
	
	<bean id="daoReservation"
		class="com.gestionhotel.gestionhotel.dao.reservation.DaoReservationImplement"></bean>
	<bean id="serviceReservation"
		class="com.gestionhotel.gestionhotel.metier.reservation.MetierReservationImplement">
		<property name="dao" ref="daoReservation"></property>
	</bean>
	
	<bean id="daoChambres"
		class="com.gestionhotel.gestionhotel.daochambres.DaoChambresImplement"></bean>
	<bean id="serviceChambres"
		class="com.gestionhotel.gestionhotel.metier.chambres.MetierChambresImplement">
		<property name="dao" ref="daoChambres"></property>
	</bean>

<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property><!-- driver 
			class=connector -->
		<property name="url" value="jdbc:mysql://localhost/gestionhotel"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"></property><!-- liaison 
			avec le bean datasource -->
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
	</bean>

	<bean id="EntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"><!-- EntityManagerFactory : creer les sessions ; class permet de 
			l'instancier -->
		<property name="persistenceUnitManager" ref="PersistenceUnitManager"></property>
		<property name="persistenceUnitName" value="UP_HOTEL"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="EntityManagerFactory"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" /><!-- 
		annotations pour activer les transactions -->
	<context:annotation-config></context:annotation-config><!-- pour activer 
		les annotations -->

</beans>
